Dockerfile
docker-compose.yaml
test/
*.tgz
*.dockerfile
*.md
.gitignore
npm-debug.log
.env
node_modules
.node_modules
built/*
build.json
*.actual
*.config
coverage/
internal/
**/.DS_Store
.settings
**/.vs
.idea
yarn.lock
yarn-error.log
.failed-tests
TEST-results.xml
tests
.vscode
.git
